---
---

@import "minimal-light";

@media screen and (min-width: 961px) {
  .wrapper > section > #about-me:first-child {
    margin-top: 16px;
  }
}

.profile {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  text-align: center; 
}

.image.avatar {
  width: 200px;
  height: 200px;
  margin-bottom: 1.5em;
  transform: translateX(-19px);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 30% 50%;
    border-radius: 50%;
  }
}
